.classCard__upper {
  background-color: #008d7d;
  color: white;
  padding: 12px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
}

.classCard {
  width: 300px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 30px;
}

.classCard__middle {
  height: 190px;
  border-bottom: 1px solid #dcdcdc;
}

.classCard__creatorPhoto {
  position: absolute;
  right: 5px;
  border-radius: 9999px;
}

.classCard__className {
  font-weight: 600;
  font-size: 30px;
}

.classCard__creatorName {
  font-size: 15px;
}

.classCard__subjectName {
  font-size: 15px;
}

.classCard__lower {
  display: flex;
  flex-direction: row-reverse;
}
