.container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.button {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #008CBA;
    color: #fff;
    font-size: larger;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #008CBA;
}

.button:hover {
    background-color: #fff;
    color: black;
}

.backBtn {
    padding-right: 16px;
}

.title {
    font-size: x-large;
    text-decoration: none;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}