*{
    box-sizing: border-box;
}

.container {
    width: 200px;
    height: 100px;
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),  url('../../../../assets/images/default-background.jpg'); */
    margin: 4px 0;
    background-size: cover;
    display: flex;
    flex-direction: row;
    background-color: #ccc;
    border-left: 8px solid #888;
}

.isCurrentActive {
    border-left: 8px solid rgb(20, 86, 204);
}

.cardCtn {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),  url('../../../../assets/images/default-background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ccc;
}

.title{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.actionCtn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    background-color: transparent;
}

.actionCtn:hover{
    background-color: rgba(0,0,0,0.9);
}

.button{
    border: 0 solid #00000000;
}

.outerButton {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.innerButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    padding-top: 4px;
}