.root {
  /* background-color: #f00; */
  flex: 1;
  display: flex;
}

.sideNavigation {
  /* background-color: aqua; */
  width: 80px;
  height: 100px;
  z-index: 1000;
}

.renderPageCtn {
  /* background-color: blueviolet; */
  display: flex;
  flex: 1;
  margin: 16px;
  width: 100%;
}
