.container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 8px #888;
}

.button {
  text-align: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  line-height: 40px;
  border-radius: 25px;
  padding-left: 28px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #0088fe;
  color: #000;
  transition: all 0.2s ease;
  width: 200px;
  padding: 0;
}

.button:active {
  background-color: #ff3366;
}
