* {
  box-sizing: border-box;
}

.container {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 8px #888;
  text-align: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 25px;
  transition: all 0.2s ease;
}

.container:hover {
  background-color: #0088fe;
  color: #000;
  transition: all 0.2s ease;
  padding: 0;
  transform: rotate(135deg);
}

.container:active {
  background-color: #ff3366;
}

.button {
}
