.presentationCard__upper {
    background-color: #008d7d;
    height: 90px;
    position: relative;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
  }

  .presentationCard {
    width: 300px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .presentationCard__middle {
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .presentationCard__Name {
    font-weight: 600;
    font-size: 30px;
  }
  
  .presentationCard__creatorName {
    position: absolute;
    bottom: 12px;
    font-size: 15px;
  }

  .presentationCard__numberSlide {
    position: absolute;
    bottom: 40px;
    font-size: 15px;
  }
  
  .presentationCard__lower {
    display: flex;
    flex-direction: row-reverse;
  }