.container {
  display: flex;
  height: 100%;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 6px 16px;
  border-radius: 8px;
  font-size: 24px;
  height: fit-content;
}

.optionCtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
  color: #fff;
  font-size: large;
}

.radioCustom {
  width: 30px;
  height: 30px;
  background-color: rgba(138, 43, 226, 0.75);
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
}

.radioCustom:hover {
  background-color: rgba(138, 43, 226, 1);
}

.radioCustom:active {
  background-color: rgba(138, 43, 226, 0.5);
}

.chossed {
}
